<div class="container">
  <div class="section">
    <div class="row center-align">
      <h3>Rutas</h3>
      <br>
      <%= link_to 'Nuevas rutas', new_route_path, class: 'btn-large center-align waves-effect waves-light green' %>
    </div>
    <hr>
    <br>
    <div class="row center-align">
      <form action="/routes" method="get">
        <div class="col m3">
          <label for="load_name">Nombre de carga</label>
          <input type="text" name="load_name" id="load_name">
        </div>
        <div class="col m3">
          <label for="start_time">Hora de inicio</label>
          <input type="datetime" name="start_time" id="start_time">
        </div>
        <div class="col m3">
          <label for="date">Fecha</label>
          <input type="date" name="date" id="date">
        </div>
        <div class="col m3">
          <br>
          <input type="submit" value="Buscar" class='btn'>
        </div>
      </form>
    </div>
    <br>
    <table class="highlight">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre de carga</th>
          <th>Ruta</th>
          <th>Fecha</th>
          <th>Tiempo de inicio</th>
          <th>Tiempo de término</th>
          <th>Paradas</th>
          <th>Estado</th>
          <th>Mapa</th>
        </tr>
      </thead>
      <tbody>
        <% @routes.each do |route| %>
          <tr>
            <td><%= route.id%></td>
            <td><%= route.load_name%></td>
            <td><%= route.route%></td>
            <td><%= route.date%></td>
            <td><%= route.start_time%></td>
            <td><%= route.end_time%></td>
            <td><%= route.stops.count%></td>
            <td><%= route.status%></td>
            <td>
              <%= link_to 'Ver', root_path(route_id: route.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>